<div class="category-container">
    <div class="web-tile hvr-float-shadow">
        <a href="category/web">
            <div class="icon">
                <img src="icons/web-icon.svg" alt="">
            </div>
        </a>
        <a class="s-colour" href="category/web">Web Development</a>
    </div>
    <div class="design-tile hvr-float-shadow">
        <a href="category/design">
            <div class="icon">
                <img src="icons/design-icon.svg" alt="">
            </div>
        </a>
        <a class="s-colour" href="category/design">Digital Design</a>
    </div>
</div>