<div class="category-container">
    <div class="web-tile">
        <div class="icon"></div>
        <a href="web-projects">Web</a>
    </div>
    <div class="design-tile">
        <div class="icon"></div>
        <a href="design-projects">Digital Design</a>
    </div>
</div>