<div class="category-container">
    <div class="web-tile">
        <div class="icon">
            <img src="icons/web-icon.svg" alt="">
        </div>
        <a class="s-colour" href="category/web">Web Development</a>
    </div>
    <div class="design-tile">
        <div class="icon">
            <img src="icons/design-icon.svg" alt="">
        </div>
        <a class="s-colour" href="category/design">Digital Design</a>
    </div>
</div>