<div class="category-container">
    <div class="web-tile">
        <div class="icon"></div>
        <a href="category/web">Web Development</a>
    </div>
    <div class="design-tile">
        <div class="icon"></div>
        <a href="category/design">Digital Design</a>
    </div>
</div>