  <form id ="upload-form"  action="/add-user" method="post" name="form">
    <div class="mb">
      <label for="name">Name</label>
      <input type="name">
    </div>
    <div class="mb"> 
      <label for="email">Email</label>
      <input type="email">
    </div>
    <div class="mb">
      <label for="images"></label>
      <input type="file" name="pic" accept="image/*">
    </div>
    <input type="submit" name="save-button">
  </form>
