<form id="upload-form" action="/" method="post" name="form">
    <label for="project-name">Project Name:</label>
    <input type="text" name="projectName">

    <label for="project-description">Description:</label>
    <input type="text" name="projectDescription">

    <label for="category">Category:</label>
    <input type="radio" name="category" value="design" id="design-radio" checked>
    <label for="design-radio">Design</label>
    <input type="radio" name="category" value="web" id="web-radio">
    <label for="web-radio">Web</label>

    <label for="images">Upload Image:</label>
    <input type="file" name="pic" accept="image/*">
    <input type="submit" name="save-button">
</form>