<p>This is Design yo</p>
<div class="container">
  {{#each projects}}
  <div class="project-tile">
    <p>{{title}}</p> 
    <div>
      <button id= {{id}} class="button" onClick ="deleteProject()">Delete</button>
    </div>
    {{!-- <p>{{tools}}</p> --}}
  </div>
  {{/each}}
</div>