<a href="/">Home</a>
<div class="container space-evenly pc">
  {{#each projects}}
  <div class="project-tile">
    <div class="project-card">
      <div class="project-wrapper">
        <div class="canvas"></div>
        <div class="project-text">
          <h4>{{title}}</h4>
          <p>{{description}}</p>
        </div>
      </div>
    </div>

    <div class="delete-button-wrapper">
      <button id={{id}} class="button" onClick="deleteProject()">Delete</button>
    </div>
    {{!-- <p>{{tools}}</p> --}}
  </div>
  {{/each}}
</div>