* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.container-padding {
  height: 3rem;
  width: 100%;
}

.bg-container {
  min-height: 100vh;
  width: 100vw;
}
.index-col {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-panel {
  -webkit-box-shadow: 4px 0px 8px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 8px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0px 8px -3px rgba(0, 0, 0, 0.75);
}

.category-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

/* project divs */

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: auto;
}

.project-card {
  width: 70%;
  height: auto;
  max-height: 480px;
  min-width: 300px;
  padding: 3rem;
  background-color: #414957;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 4px;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.canvas {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* background-color: whitesmoke; */
  border: 1px dashed black;
  -webkit-box-shadow: 1px 13px 24px 1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 13px 24px 1px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 13px 24px 1px rgba(0, 0, 0, 0.27);
}

.project-image {
  height: 100%;
}

.project-text {
  margin-top: 1em;
  border-top: 1px solid rgba(238, 237, 237, 0.856);
}

/* index page */
.web-tile,
.design-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;

}

/* category icons */
.icon {
  width: 8rem;
  height: 8rem;
  margin-bottom: 8%;
}

#form-card {
  height: 45%;
  padding: 3em;
  background-color: #4c5aacb2;
  border-radius: 5px;
  -webkit-box-shadow: 1px 13px 24px 1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 13px 24px 1px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 13px 24px 1px rgba(0, 0, 0, 0.27);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.radio-wrapper {
  display: flex;
  justify-content: space-between;
}

.radio-button-wrapper {
  display: flex;
  justify-content: space-evenly
}

#project-image-form {
  display: flex;
  flex-direction: column;
}

.upload-button {
  width: 12rem;
  border-radius: 3px;
  background:rgba(238, 237, 237, 0.856);
}


/* ------------------------ 
GLOBAL
------------------------ */
.mb {
  margin-bottom: 1em;
}

.mb-m {
  margin-bottom: 2em;
}

.mb-xs {
  margin-bottom: .5em;
}


.mh {
  height: 100%;
}

.mr {
  margin-right: 1rem;
}

.mt {
  margin-top: 2rem;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.w-90 {
  width: 90%;
}

.ds {
  webkit-box-shadow: 1px 13px 24px 1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 13px 24px 1px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 13px 24px 1px rgba(0, 0, 0, 0.27);
}

/* ------------------------ 
COLOURS
------------------------ */

.pc {
  background-color: #1f2544;
}

.bg-d {
  background-color: #1b1b1b;
}

.bg-l {
  background-color: #333f86;
}

label,
p,
h5,
h4,
h3,
h2,
h1 {
  color: #e4e5e7;
}

a:visited {
  color: #f5f6fc;
}

a:active,
a:hover {
  color: #ef6359;
}

.web-tile:hover a,
.design-tile:hover a {
  color: #ef6359;
}


.s-colour {
  color: #ef6359;
}

/* ------------------------ 
TEXT
------------------------ */

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

label {
  text-shadow: 1px 2px 2px #080302;
}

input[type=text] {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.856);
}

.project-title {
  margin-top: 5px;
}

.project-desc {
  font-family: 'Montserrat', sans-serif;
  margin-top: .5em;
}

/* ------------------------ 
MEDIA QUERIES *
------------------------ */
@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .index-col,
  .project-tile {
    width: 100%;

  }
  .category-container{
    flex-direction: column;
  }
}



.hvr-float-shadow {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
