* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;

}

.container {
  border: 2px solid red;
  display: flex;
  flex-flow: row wrap;
}

.index-col {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

/* project divs */

.project-wrapper {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: auto;
}

.project-tile {
  width: 70%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
}

.canvas {
  width: 250px;
  height: 250px;
  background-color: whitesmoke;
  border: 1px dashed black;
}

.project-text {
  border: 1px solid red;
}

/* index page */
.web-tile,
.design-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* category icons */
.icon {
  width: 50px;
  height: 50px;
  background-color: darkgreen;
}

#upload-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 45%;
  padding: 3em;
  border: 2px solid blue;
}

.radio-wrapper {
  display: flex;
  justify-content: space-between;
}

.radio-button-wrapper {
  display: flex;
  justify-content: space-evenly
}



/* ------------------------ 
GLOBAL
------------------------ */
.mb {
  margin-bottom: 1em;
}

.mh {
  height: 100%;
}

.mr {
  margin-right: 1rem;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}
/* ------------------------ 
MEDIA QUERIES *
------------------------ */
@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .index-col,
  .project-tile {
    width: 100%;

  }
}