* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

.container {
  border: 2px solid red;
  display: flex;
  flex-flow: row wrap;
}

.index-col {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-panel {
  -webkit-box-shadow: 4px 0px 8px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 0px 8px -3px rgba(0,0,0,0.75);
  box-shadow: 4px 0px 8px -3px rgba(0,0,0,0.75);
}

.category-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

/* project divs */

.project-tile {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: auto;
}

.project-card {
  width: 70%;
  flex: 1;
  padding: 3rem;
  background-color: orchid;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.project-wrapper {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.canvas {
  width: 250px;
  height: 250px;
  background-color: whitesmoke;
  border: 1px dashed black;
}

.project-text {
  border: 1px solid red;
}

/* index page */
.web-tile,
.design-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* category icons */
.icon {
  width: 50px;
  height: 50px;
  background-color: darkgreen;
}

#upload-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 45%;
  padding: 3em;
  background-color: #3f50b4;
  border-radius: 5px;
  -webkit-box-shadow: 1px 13px 24px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 1px 13px 24px 1px rgba(0,0,0,0.27);
  box-shadow: 1px 13px 24px 1px rgba(0,0,0,0.27);
}

.radio-wrapper {
  display: flex;
  justify-content: space-between;
}

.radio-button-wrapper {
  display: flex;
  justify-content: space-evenly
}



/* ------------------------ 
GLOBAL
------------------------ */
.mb {
  margin-bottom: 1em;
}

.mh {
  height: 100%;
}

.mr {
  margin-right: 1rem;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

/* ------------------------ 
COLOURS
------------------------ */

.pc {
  background-color: #2a3054;
}

label, p, h5, h4, h3, h2, h1 {
  color: #f5f6fc;
}

a:visited {
  color: #f5f6fc;
}

a:active, a:hover {
  color: #ef6359;
}

/* ------------------------ 
TEXT
------------------------ */

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

label {
  text-shadow: 1px 2px 2px #080302;
}

/* ------------------------ 
MEDIA QUERIES *
------------------------ */
@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .index-col,
  .project-tile {
    width: 100%;

  }
}